@{
    ViewData["Title"] = "Home Page";
}

<form method="post">


    <label>Prompt Girin:</label>
    <input type="text" name="prompt" class="form-control" required/>
    <br />
    <button class="btn btn-primary">Gönder</button>
</form>


@if(ViewBag.response != null)
{
    <div class="alert alert-info">
        <strong>Gelen Yanıt:</strong>
        <br />
        <p>
            @ViewBag.response
        </p>
    </div>
}
